<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/partie.css" rel="stylesheet">
		<link href="/jouer.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/loading-bar.css"/>
	  <title>Blind test</title>
</head>
<body>

	<div class="col-md-10" style="margin: 0 auto;">
		<p id="titre">BLIND TEST</p>
		<div class="row">
			<div class="col-md-2">
				<div id="tablejoueurs"></div>
			</div>
			<div class="col-md-8">
				<div class="card" id="question">
					<div class="divAcc card-body">
						<!--<p style="font-size: 20px">QUESTION</p>-->
						<div style="height:35vh">
							<p id="msginfoquestion"></p>
							<p id="msginfopoints"></p>
							<p id="msginforeponse"></p>
						</div>
						<div id="progressbar">
							<div id="filledProgressBar" style="width: 100%"></div>
						</div>
					</div>
				</div>
				<br/><br/>

				<div class="row" id="line1jeu">
					<!--<button id="a1" class="col-md-5 boutonRep" disabled><div id="rep1" onclick="response(this.id, this.innerHTML)"><p class="repSize"></p><a href="#"></a></div></button>-->
					<button id="a1" class="col-md-5 boutonRep btn" onclick="response(this.id, this.innerHTML)" disabled></button>
					<div class="espace"></div>
					<button id="a2" class="col-md-5 boutonRep btn" onclick="response(this.id, this.innerHTML)" disabled></button>
				</div><br/>

				<div class="row" id="line2jeu">
					<button id="a3" class="col-md-5 boutonRep btn" onclick="response(this.id, this.innerHTML)" disabled></button>
					<div class="espace"></div>
					<button id="a4" class="col-md-5 boutonRep btn" onclick="response(this.id, this.innerHTML)" disabled></button>
				</div>

				<div id="chrono"></div>
			</div>

			<section class="chat">
				<div class="card" id="chat">
					<div class="divAcc card-body">
					</div>
				</div>
				<form action="/" method="post" id="formulaire_chat">
						<input type="text" name="message" id="message" placeholder="Votre message..." size="500000" autofocus required/><br/>
						<input class="form-control btn-success" type="submit" id="envoi_message" value="Envoyer" />
				</form>
			</section>

			<!--<div data-preset="stripe" class="ldBar label-center" data-value="35"></div>-->

		</div>
	</div>
	<iframe id="ytplayer" style="display:none" width="192" height="108" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/loading-bar.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/easytimer.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		//var socket = io.connect('http://192.168.10.63:3000');
		var socket = io.connect();
		//var socket = io.connect('http://192.168.0.55:3000');

	</script>

	<script type = "text/javascript">
	    window.onload = function () {
					document.getElementById('tablejoueurs').click();
	        document.onkeydown = function (e) {
	            return (e.which || e.keyCode) != 116;
	        };
	    }
	</script>

	<script>
		var id_partie = <%= partie[0].id_partie %>;
		var nombre_joueurs = <%= nombre_joueurs %>;
		var numero_joueur = <%= nombre_joueurs %>;
		var displayed_players = 0;
		var onceTimer = 0;
		var timeAttente = 0;

		var idQuestion = new Array();
		var questionNumber = compteur();

		/*window.addEventListener('beforeunload', function (e) {
      e.returnValue = '';
			console.log('-----------');
			console.log(nombre_joueurs)
    });*/


 		function listJoueurs() {
			console.log(nombre_joueurs);
			console.log(id_partie);
			socket.emit('listJoueursBlindTest', id_partie, nombre_joueurs);
		}

		console.log("DISPLAYED PLAYER");
		console.log(nombre_joueurs);
		if (nombre_joueurs < 4) {
			setInterval(listJoueurs, 1000);
		} else {
			listJoueurs();
		}

		$('#formulaire_chat').submit(function () {
				var message = '<b><%= user.nom %> : </b><br>' + $('#message').val();
        socket.emit('messageChat', message); // Transmet le message aux autres
        insereMessage(message); // Affiche le message aussi sur notre page
        $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
        return false; // Permet de bloquer l'envoi "classique" du formulaire
    });

		socket.on('messageChat', function(data) {
    	insereMessage(data.message)
    });

		function insereMessage(message) {
			console.log(message);
    	$('#chat').append('<p style="margin-bottom: 0">' + message + '</p><hr>');
			var chat = document.getElementById("chat");
			chat.scrollTop = chat.scrollHeight;
    }

		var chronoStarted = false;
		socket.on('displayJoueursBlindTest', function(membres, nombre_joueurs) {
			console.log('DISPLAY JOUEURS');
			let monTBody = $('#tablejoueurs');
			var html = '';
			var j = membres.length - 1;
			var partie = membres[0].id_partie;
			displayed_players = 0;
			for (i = 0; i < membres.length; i++) {
				var nom = membres[j].nom;
				var score = membres[j].score;
				if (i == 0 && score != 0) {
					html = html + '<div class="listJoueurs1">'+nom+'<br/>'+score+' points</div><br/>';
				} else {
					html = html + '<div class="listJoueurs">'+nom+'<br/>'+score+' points</div><br/>';
				}
				j--;
				displayed_players++;
				//console.log(html);
			}
			monTBody.html('');
			monTBody.html(html);
			console.log(displayed_players);

			var progressbarfill = document.getElementById('filledProgressBar');
			var progressbar = document.getElementById('progressbar');

			if (displayed_players == 4 && chronoStarted == false) {
				console.log('DISPLAY JOUEURS');

				if (progressbar.style.visibility == "hidden") {
					progressbar.style.visibility = "visible";
				}
				var once = 0;
				if (once == 0) {
					socket.emit('timerPreGameBlindTest', id_partie);
					chronoStarted = true;
					$('#msginfoquestion').html('Préparez-vous !');
				}
			}
		});

		socket.on('displayTimerBlindTest', function(chrono, chronoTenths, timerMode) {
			console.log(timerMode);
			if (timerMode == "preGame") {
				var progressbarfill = document.getElementById('filledProgressBar');
				var progressbar = document.getElementById('progressbar');
				var chronoMap = parseInt(chronoTenths * (2/3));
				progressbarfill.style.width = chronoMap+"%";
				$('#chrono').html(chrono);
				if (chronoMap == 0) {
					if (onceTimer == 0) {
						onceTimer++;
						progressbar.style.visibility = "hidden";
						socket.emit('getQuestionsIdBlindTest', id_partie);
					}
				}
			}
		});

		function compteur() {
			var compteurPrive = 0;
			function changeValeur(val) {
				compteurPrive += val;
			}
			return {
				increment: function() {
					changeValeur(1);
				},
				valeur: function() {
					return compteurPrive;
				}
			};
		}

		socket.on('questionsBlindTest', function(questions) {
			console.log('QUESTIONS');
			console.log(questions);
			for (var i = 0; i < questions.length; i++) {
				idQuestion[i] = questions[i]['id_question'];
				console.log(idQuestion[i]);
			}
			idQuestion[questionNumber.valeur()] = questions[questionNumber.valeur()]['id_question'];
			console.log(idQuestion[questionNumber.valeur()]);
			socket.emit('getQuestionBlindTest', idQuestion[questionNumber.valeur()]);
		});

		var commentaire;
		socket.on('displayQuestionBlindTest', function(question) {
			if (questionNumber.valeur() < 10) {
				setTimeout(function () {
					repondu = false;
					onceTimer = 0;
					console.log(questionNumber.valeur());
					console.log(question);
					commentaire = question.commentaire;
					console.log(question.intitule);
					$('#msginfoquestion').html("");
					var im = document.createElement("img");
					im.src = "/image/music.png";
					im.setAttribute("width", "40%");
					var numQuestion = questionNumber.valeur()+1;
					$('#msginfoquestion').html("<u>Question n°"+numQuestion+"</u><br/>");
					document.getElementById("msginfoquestion").appendChild(im);
					document.getElementById('ytplayer').src = question.intitule;
					$('#a1').html(question.rep_1);
					$('#a2').html(question.rep_2);
					$('#a3').html(question.rep_3);
					$('#a4').html(question.rep_4);
					var btnA = document.getElementById('a1');
					var btnB= document.getElementById('a2');
					var btnC = document.getElementById('a3');
					var btnD = document.getElementById('a4');
					btnA.disabled = false;
					btnB.disabled = false;
					btnC.disabled = false;
					btnD.disabled = false;
					btnA.style.background = 'white';
					btnB.style.background = 'white';
					btnC.style.background = 'white';
					btnD.style.background = 'white';
					questionNumber.increment();
					socket.emit('timerQuestionBlindTest', id_partie, question.id_question);
				}, 3000);
			}
		});

		var onceTimer = 0;
		var chronometre;
		var repondu = false;
		socket.on('displayTimerQuestionBlindTest', function(chrono, chronoTenths, timerMode) {
			console.log(timerMode);
			if (timerMode == "question") {
				chronoTenths = chronoTenths;
				var progressbarfill = document.getElementById('filledProgressBar');
				var progressbar = document.getElementById('progressbar');
				progressbar.style.visibility = "visible";
				var chronoMap = parseInt(chronoTenths * (2/5));
				chronometre = chronoTenths;
				progressbarfill.style.width = chronoMap+"%";
				$('#chrono').html(chrono);
				if (chronoMap == 0) {
					if (onceTimer == 0) {
						onceTimer++;
						progressbar.style.visibility = "hidden";
						if (repondu == false) {
							console.log('NO ANSWER');
							var reponse = 0;
							var userId = <%= user.id %>;
							var btnA = document.getElementById('a1');
							var btnB= document.getElementById('a2');
							var btnC = document.getElementById('a3');
							var btnD = document.getElementById('a4');
							btnA.disabled = true;
							btnB.disabled = true;
							btnC.disabled = true;
							btnD.disabled = true;
							var mode = "blindtest";
							socket.emit('no_reponse', id_partie, idQuestion[questionNumber.valeur()-1], reponse, numero_joueur, questionNumber.valeur(), userId, mode);
						}
					}
				}
			}
		});

		function response(id, rep) {
			console.log("ANSWERED");
			console.log(repondu);
			if (repondu == false) {
				repondu = true;
				var reponse;
				console.log(id);
				if (id == "a1") {
					reponse = 1;
				} else if (id == "a2") {
					reponse = 2;
				} else if (id == "a3") {
					reponse = 3;
				} else if (id == "a4") {
					reponse = 4;
				}
				document.getElementById(id).style.background = 'grey';
				var btnA = document.getElementById('a1');
				var btnB= document.getElementById('a2');
				var btnC = document.getElementById('a3');
				var btnD = document.getElementById('a4');
				btnA.disabled = true;
				btnB.disabled = true;
				btnC.disabled = true;
				btnD.disabled = true;
				var userId = <%= user.id %>;
				console.log("ID PARTIE"+id_partie);
				console.log("id_numero_question"+idQuestion[questionNumber.valeur()-1]);
				console.log("CHRONO"+chronometre);
				console.log("REPONSE N°"+reponse);
				console.log("NUMERO JOUEURS"+numero_joueur);
				console.log("QUESTION NUMERO"+questionNumber.valeur());
				console.log("REPONSE"+rep);
				console.log("ID USER"+userId);
				var mode = "blindtest";
				socket.emit('reponse', id_partie, idQuestion[questionNumber.valeur()-1], chronometre, reponse, numero_joueur, questionNumber.valeur(), rep, userId, mode);
			}
		}

		socket.on('treat_answerBlindTest', function(numeroReponse, resultat, points, reponse, bonne_reponse) {
			points = Math.trunc(points);
			console.log('TREAT_ANSWER');
			console.log(numeroReponse);
			console.log(resultat);
			console.log(points);
			console.log(reponse);
			console.log(bonne_reponse);
			console.log(commentaire);
			var chronometreLeft = chronometre * 100;
			console.log(chronometreLeft);
			setTimeout(function() {
				if (resultat == true) {
					document.getElementById('a'+numeroReponse).style.background = "#25E662";
					$('#msginfoquestion').html('Félicitations !<br/>');
					$('#msginfopoints').html(commentaire);
					$('#msginforeponse').html('Vous remportez '+points+' points');
					var audio = new Audio('/mp3/bravo.mp3');
					audio.play();
				} else {
					$('#msginfoquestion').html('Dommage !<br/>');
					$('#msginfopoints').html(commentaire);
					$('#msginforeponse').html('Vous remportez '+points+' points');
					if (document.getElementById('a1').innerHTML == bonne_reponse) {
						console.log("réponse 1");
						if (numeroReponse == 0) {
							var trueAnswer = document.getElementById('a1');
							trueAnswer.style.background = "#25E662";
						}
					} else if (document.getElementById('a2').innerHTML == bonne_reponse) {
						console.log("réponse 2");
						if (numeroReponse == 0) {
							var trueAnswer = document.getElementById('a2');
							trueAnswer.style.background = "#25E662";
						}
					} else if (document.getElementById('a3').innerHTML == bonne_reponse) {
						console.log("réponse 3");
						if (numeroReponse == 0) {
							var trueAnswer = document.getElementById('a3');
							trueAnswer.style.background = "#25E662";
						}
					} else if (document.getElementById('a4').innerHTML == bonne_reponse) {
						console.log("réponse 4");
						if (numeroReponse == 0) {
							var trueAnswer = document.getElementById('a4');
							trueAnswer.style.background = "#25E662";
						}
					}
					if (numeroReponse != 0) {
						var wrongAnswer = document.getElementById('a'+numeroReponse);
						wrongAnswer.style.background = "red";
					}
					var audio = new Audio('/mp3/huee.mp3');
					audio.play();
				}
				listJoueurs();
				entreDeuxQuestions();
			}, chronometreLeft);
		});

		function entreDeuxQuestions() {
			setTimeout(function() {
				$('#msginfoquestion').html('Préparez-vous pour la question suivante !');
				$('#msginfopoints').html('');
				$('#msginforeponse').html('');
			}, 5000);
			setTimeout(function() {
				console.log("ID QUESTION ");
				console.log(idQuestion[questionNumber.valeur()]);
				if (idQuestion[questionNumber.valeur()] == undefined) {
					finPartie();
				} else {
					socket.emit('getQuestionBlindTest', idQuestion[questionNumber.valeur()]);
				}
			}, 5000);
		}

		function finPartie() {
			$('#msginfoquestion').html('Fin de partie !');
			$('#a1').html('');
			$('#a2').html('');
			$('#a3').html('');
			$('#a4').html('');
			var numJoueur = <%= nombre_joueurs %>;
			var id_partie = <%= partie[0].id_partie %>;
			socket.emit('Get_rankBlindTest',numJoueur, id_partie);
		}

		socket.on('Display_rankBlindTest', function(numJoueur, id_partie, partieAccueille) {
			console.log(partieAccueille);
			console.log(numJoueur);
			console.log(partieAccueille.length);
			var id = 0;
			var rang = 0;
			for (id = 0; id < partieAccueille.length; id++) {
				console.log(partieAccueille[id].n_joueur);
				if (partieAccueille[id].n_joueur == numJoueur) {
					rang = id + 1;
					console.log(rang);
					if (rang == 1) {
						console.log("A");
						$('#msginfopoints').html('Félicitations ! Vous finissez '+rang+'er !');
						$('#msginforeponse').html('<a href="/jouer" class="btn btn-success">Quitter</button>');
					} else if (rang == 2) {
						console.log("B");
						$('#msginfopoints').html('Félicitations ! Vous finissez '+rang+'ème !');
						$('#msginforeponse').html('<a href="/jouer" class="btn btn-primary">Quitter</button>');
					} else {
						console.log("C");
						$('#msginfopoints').html('Vous finissez '+rang+'ème ! Vous pouvez vous améliorer !');
						$('#msginforeponse').html('<a href="/jouer" class="btn btn-danger">Quitter</button>');
					}
				}
			}
		});


	</script>

</body>
</html>
